<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Amazon</title>
</head>
<body>
    <h3>{{ message }}</h3>

    <h2>Login</h2>
    <form action="/api/user" method="post">
        <input type="text" name="op_type" value="login" hidden>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="LOGIN">
    </form>

    <h2>Signup</h2>
    <form action="/api/user" method="post">
        <input type="text" name="op_type" value="signup" hidden>
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="SIGNUP">
    </form>
</body>
</html>